<html>
 <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     
     

 </head>
 
 <body>
     
        <div class="container">
        
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/journeys']">Journeys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sign-up']">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sign-in']">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" [routerLink]="['/register']" tabindex="-1" aria-disabled="true">Register</a>
                </li>
            </ul>
            <router-outlet></router-outlet>
        </div>

     
 </body>
 
</html>

