
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                <h1>Welcome to Journeys!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio vitae debitis saepe eveniet hic aliquid error cupiditate aperiam, fugiat impedit culpa enim dolor nostrum incidunt sequi ab commodi dignissimos et?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illo tempore quam provident. Minus aliquam beatae quas error, optio laudantium veritatis quos neque pariatur, nemo placeat accusantium et! Cupiditate, quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ex officia quaerat, perferendis quia ipsam nostrum quas sit tenetur quibusdam ullam impedit corporis sequi repellat quos deleniti consectetur quam accusamus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores beatae atque praesentium blanditiis optio cupiditate quia, voluptates quisquam dicta architecto totam! Perspiciatis dolore totam blanditiis minus. Pariatur aperiam aspernatur tempora.</p>
                </div>
            </div>
        </div>
        ><a class="btn btn-primary btn-lg" [routerLink]="['/journeys']" role="button">¡Take me there!</a>

    </div>

</body>